$color-primary: #084561;
$color-secondary: #F8AD32;

$color-body-background: #F7F7F7;
$color-header-hover: #396A81;
$color-helpful: #E9F9DC;

$color-sidebar-background: #F0F0F0;
$color-sidebar-hover: #FFF;

$color-success: #48A200;
$color-danger: #C0392B;

$color-keyboard: #F8F6EA;